<!DOCTYPE html>

<html>

<head>
  <title>{{title}}</title>
  <link rel="icon" href="/img/bulldog.jpg">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
  <header>
    <a href="/">Home</a>
    <a href="/users/logOut">Log Out</a>
    <h1>Welcome {{userName}}</h1>
  </header>
  </div>

  {{>footer}}
</body>

</html>