<footer id="footer" class="footer-area section-padding-100-0">
    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-60">
                        <a href="/" class="footer-logo"><img title="Site Logo" alt="Site Logo" src="/img/lock.png"></a>
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="single-footer-widget mb-5">

                        <h5 class="widget-title">Me</h5>

                        <div class="footer-contact-info">
                            <p><i class="zmdi zmdi-map"></i> Sample Road No: 12 06680 Çankaya/ANKARA</p>
                            <p><i class="zmdi zmdi-phone"></i> 0 (900) 999 00 00</p>
                            <p><i class="zmdi zmdi-globe"></i>github.com/sampleUser</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-5">

                        <h5 class="widget-title">Company Contact</h5>

                        <div class="footer-contact-info">
                            <p><i class="zmdi zmdi-map"></i>Wellknown Plaza, ANKARA</p>
                            <p><i class="zmdi zmdi-phone"></i>+90 (312) 999 9999</p>
                            <p><i class="zmdi zmdi-globe"></i>linkedin.com/sCompany</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copywrite-content">
            <div class="row">
                <div class="col-12">
                    <div class="copywrite-text">
                        <p>
                            © Copyright- 2021
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>