<header class="header-area">
    <div class="classy-nav-container">
        <div class="container">

            <nav class="classy-navbar justify-content-between" id="conferNav">

                <a class="nav-brand" href="/"><img title="Site Logo" alt="Site Logo" src="/img/lock.png"
                        style="max-width: 70%;"></a>

                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <div class="classy-menu">
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <div class="classynav">
                        <ul id="nav">
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">HOME</a>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#footer">CONTACT US</a>
                        </ul>

                        <a href="/users/logIn" class="btn btn-light header-button mt-3 mt-lg-0 ml-3 ml-lg-5">Sign
                            In</a>
                        <a href="/users/signUp" class="btn btn-light header-button mt-3 mt-lg-0 ml-3 ml-lg-5">Sign
                            Up</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>